/* FONTS */
/*@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");*/

/* Regular Variants */
@font-face {
  font-family: "Bogue";
  src: url("/fonts/Bogue-Thin.woff2") format("woff2"),
    url("/fonts/Bogue-Thin.woff") format("woff"),
    url("/fonts/Bogue-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bogue";
  src: url("/fonts/Bogue-Light.woff2") format("woff2"),
    url("/fonts/Bogue-Light.woff") format("woff"),
    url("/fonts/Bogue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bogue";
  src: url("/fonts/Bogue-Regular.woff2") format("woff2"),
    url("/fonts/Bogue-Regular.woff") format("woff"),
    url("/fonts/Bogue-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bogue";
  src: url("/fonts/Bogue-Medium.woff2") format("woff2"),
    url("/fonts/Bogue-Medium.woff") format("woff"),
    url("/fonts/Bogue-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bogue";
  src: url("/fonts/Bogue-Semibold.woff2") format("woff2"),
    url("/fonts/Bogue-Semibold.woff") format("woff"),
    url("/fonts/Bogue-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bogue";
  src: url("/fonts/Bogue-Bold.woff2") format("woff2"),
    url("/fonts/Bogue-Bold.woff") format("woff"),
    url("/fonts/Bogue-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bogue";
  src: url("/fonts/Bogue-Black.woff2") format("woff2"),
    url("/fonts/Bogue-Black.woff") format("woff"),
    url("/fonts/Bogue-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Italic Variants */
@font-face {
  font-family: "Bogue";
  src: url("/fonts/Bogue-Thin-Italic.woff2") format("woff2"),
    url("/fonts/Bogue-Thin-Italic.woff") format("woff"),
    url("/fonts/Bogue-Thin-Italic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bogue";
  src: url("/fonts/Bogue-Light-Italic.woff2") format("woff2"),
    url("/fonts/Bogue-Light-Italic.woff") format("woff"),
    url("/fonts/Bogue-Light-Italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bogue";
  src: url("/fonts/Bogue-Italic.woff2") format("woff2"),
    url("/fonts/Bogue-Italic.woff") format("woff"),
    url("/fonts/Bogue-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bogue";
  src: url("/fonts/Bogue-Medium-Italic.woff2") format("woff2"),
    url("/fonts/Bogue-Medium-Italic.woff") format("woff"),
    url("/fonts/Bogue-Medium-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bogue";
  src: url("/fonts/Bogue-Semibold-Italic.woff2") format("woff2"),
    url("/fonts/Bogue-Semibold-Italic.woff") format("woff"),
    url("/fonts/Bogue-Semibold-Italic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bogue";
  src: url("/fonts/Bogue-Bold-Italic.woff2") format("woff2"),
    url("/fonts/Bogue-Bold-Italic.woff") format("woff"),
    url("/fonts/Bogue-Bold-Italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bogue";
  src: url("/fonts/Bogue-Black-Italic.woff2") format("woff2"),
    url("/fonts/Bogue-Black-Italic.woff") format("woff"),
    url("/fonts/Bogue-Black-Italic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

/* Yellix Font */
@font-face {
  font-family: "Yellix";
  src: url("/fonts/Yellix-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yellix";
  src: url("/fonts/Yellix-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yellix";
  src: url("/fonts/Yellix-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yellix";
  src: url("/fonts/Yellix-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yellix";
  src: url("/fonts/Yellix-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yellix";
  src: url("/fonts/Yellix-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yellix";
  src: url("/fonts/Yellix-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Yellix";
  src: url("/fonts/Yellix-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* Yellix Italic Variants */
@font-face {
  font-family: "Yellix";
  src: url("/fonts/Yellix-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Yellix";
  src: url("/fonts/Yellix-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Yellix";
  src: url("/fonts/Yellix-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Yellix";
  src: url("/fonts/Yellix-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Yellix";
  src: url("/fonts/Yellix-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Yellix";
  src: url("/fonts/Yellix-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Yellix";
  src: url("/fonts/Yellix-ExtraBoldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Yellix";
  src: url("/fonts/Yellix-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

.slider-container {
  overflow: hidden;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.slider {
  display: flex;
  gap: 0.5rem;
}

.slider-0 {
  animation: slideLeft 40s linear infinite;
  animation-delay: 0s;
}

.slider-1 {
  animation: slideRight 40s linear infinite;
  animation-delay: -30s;
}

.slider-2 {
  animation: slideLeft 40s linear infinite;
  animation-delay: -40s;
}

/* Desktop animations (slower) */
@media (min-width: 768px) {
  .slider-0 {
    animation: slideLeft 80s linear infinite;
    animation-delay: 0s;
  }

  .slider-1 {
    animation: slideRight 90s linear infinite;
    animation-delay: -30s;
  }

  .slider-2 {
    animation: slideLeft 50s linear infinite;
    animation-delay: -40s;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 60s linear infinite;
  white-space: nowrap;
}

/* Make sure these are placed before the @tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/fonts.css';

/* Apply font defaults */
@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-poppins font-semibold;
  }
  
  body {
    @apply font-sans tracking-body;
  }

  /* Add specific styles for h3 */
  h3 {
    @apply font-poppins;
    font-weight: 600; /* Default semibold weight */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  p {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-chars: 6 3 3;
    hyphenate-limit-lines: 2;
    hyphenate-limit-last: always;
    hyphenate-limit-zone: 8%;
  }

  /*  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Bogue", serif;
  }*/
}

@keyframes logo-slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-logo-slider {
  animation: logo-slider 60s linear infinite;
  min-width: 200%; /* Ensures enough width for two sets of logos */
}

