name: Deploy to AWS S3 and Invalidate CloudFront

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: eu-north-1

      - name: Install dependencies and build
        env:
          CI: false
        run: |
          npm ci
          npm run aws-build

      - name: Deploy to S3
        run: |
          aws s3 sync ./out s3://teamup-landing --delete

      - name: Invalidate CloudFront distribution
        run: |
          aws cloudfront create-invalidation --distribution-id EYIKA9N30L4L3 --paths "/*"
